body{
  padding: 0;
  margin: 0;
  background: rgb(13, 61, 93);
}

.label-title {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  margin-left: 20px;
  flex: 1;
  margin-top: 10px;

  &:after {
    content: '';
    display: block;
    width: 6px;
    height: 16px;
    background: rgb(6, 255, 255);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
  }
}

.system-title{
  font-size: 14px;
  position: relative;
  margin: 5px 20px;
  color: rgb(6, 255, 255);
  &:after{
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: rgb(6, 255, 255);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }
}